.section_contenu
{
	width: 686px;
	padding-left: 0px;
}

article {margin-bottom: 60px;}

.article {padding-left: 25px;}
.article > legend
{
	font-size: 1.333em;
	font-weight: bold;
	
}

.article_cont
{
	clear: both;
	padding-top: 7px;
	padding-left: 25px;
	padding-right: 25px;
}
