 #h1_dl_appli {
    margin : 10px;
}
#div_qrcode, #h1_dl_appli, #bg_qrcode  {
    text-align : center;
}
#p_android {
    margin-left : -100px;
}

#andro, #lien_appli {
    color : green;
}
#lien_appli:hover {
    text-decoration: underline;
}