#formplanif dd, #formplanif dt {margin: 10px;}
#formplanif dt {float: left; width: 260px;}
#formplanif #sub_intervention-label {width :0;}
#formplanif #sub_intervention { margin : 20px 0 0 20px;}
#formplanif {
    margin : 50px 0 0 50px;
}

#ajinter, #nvInter {
    text-align : center;
}

#techs {
    float: left;
    margin : 10px 100px 0 20px;
}
#techs label {
    margin-left : 10px;
}
#techs .optional {
    font-weight : bold;
    margin-bottom : 5px;
    display : block;
    margin-left : 0;
}
#formplanif .zend_form dt {
    margin-top : 10px;
}
#formplanif .zend_form dd {
    margin-top : 5px;
}
#area_taf {
    height : 150px;
    font-size : 12px !important;
}
#Ajouter-element {
    text-align : center;
    clear : both;
    margin-top : -10px !important;
}
.tinterTech {
    width : 100% !important;
}
.tinterTech td {
    font-size : 1em !important;
}
.tr_interventions {
    border-top : 3px solid #6495ED;
}
#div_img {
    float:right;
    right:50px;
    position:absolute;
}
#formChoixTech {
    margin : 10px auto;
    width : 350px;
}
#formChoixTech #sel_tech-label {
    width : 180px;
    float: left;
    line-height: 1.7;
}
#h1planif {
    margin-bottom : 20px;
    text-align : center;
}